fastapi
uvicorn
python-dotenv
langchain-core
langchain-google-genai
langgraph
pydantic
requests
annotated-types
anyio
attrs
certifi
charset-normalizer
click
dnspython
email_validator
h11
httpcore
httpx
idna
sniffio
starlette
typing_extensions
google-generativeai
google-api-python-client
google-auth
psycopg2-binary